
html, body {
    /*width: 1440px; */
    margin: 0;
    font-size: 100%;
      /* чтобы шрифты корректно (пропорционально) увеличивались при масштабировании */

}


@font-face {
    font-family: CORBELB;
    src: local("Suck"), url(fonts/CORBELB.TTF);  /*  local() для исключения возможности
    использования браузером локального шрифта с таким же именем, при его наличии на девайсе юзера. */
    font-weight: normal;
    font-style: normal;
}

#title {
    margin-top: 3.8vw; /*55px; */
    margin-bottom: 4.5vw; /*65px; */
    margin-left: 42%; /* долго равнял на глаз...должно быть 630 пикс (43.75%)- отступ слева, 653 пикс - справа */
    font-family: InterFont;
    font-size: 1.38vw; /*1.25em; */
    font-weight: normal;
    color: #555B8D;   /* по моему цвет неточен */ /*Еще поподбираю цвета определителем визуальным.*/
}

@font-face {
    font-family: InterFont;
    src: local("Suck"), url(fonts/INTERFONT-BLACK.OTF);  /*  local() для исключения возможности
    использования браузером локального шрифта с таким же именем, при его наличии на девайсе юзера. */
    font-weight: normal;
    font-style: normal;
}

/**************** Section-1 ***************/

.designer-name{
    font-family: CORBELB;
    font-size: 1.38vw; /* 1.25em; */
    font-weight: normal;
    color: #0095C7;
    margin-left: 16.30%; /* 235 пикс */
    margin-top: 0;
    margin-bottom: 1vw; /*20px; */
    }


.img-stripe-left{
    padding: 0;
    width: 15.27%; /* 220px; */
    background-color: #4D576A;
    display: inline-block;
    margin-right: -4px;
    }

.designer-picture-left {
    width: 27.08%; /*390px; */
    margin-right: 1%; /*15px; */
    margin-left: 0;
    padding: 0;
    display: inline-block;
}

.about-designer-text-left {

    color: #4D576A;
    font-family: CORBELB;
    font-size: 1vw; /* должен быть по требованиям 0.875em; */
    margin: 0;
    padding: 0;
    width: 39.5%; /*562px; */
    display: inline-block;
    vertical-align: top;
    line-height: 1.18vw;
    }

#section-1 .img-stripe-left,
#section-1 .designer-picture-left,
#section-1 .about-designer-text-left {
    height: 20.55vw; /* 296px */
}




/* **************** Section-2 ****************/
.reverse {
    text-align: right;
}


.about-designer-text-right {
    color: #4D576A;
    font-family: CORBELB;
    font-size: 1vw;
    margin:0;
    /* margin-left: 16.30%; */
    margin-right: 0.7%; /*10px; */
    width: 37.5%; /*542px; */
    vertical-align: top;
    line-height: 1.35vw;
    display: inline-block;
    text-align: left;
    padding: 0;

    }

.designer-picture-right {
    width: 29.4%; /*423px; */
    margin-right: -4px;
    display: inline-block;


}

.img-stripe-right{
    /* width: 15.78%;  225px; */
    background-color: #4D576A;
    width: 15.78%;
    display: inline-block;
}

#section-2 .about-designer-text-right,
#section-2 .designer-picture-right,
#section-2 .img-stripe-right{
    height: 22.91vw; /* 330px; */
}

/**************** Section-3 *****************/
#section-3 .designer-picture-left,
#section-3 .img-stripe-left {
    height: 18.68vw; /* 269px; */
}

/***************** Section-4 ***************/
#section-4 .about-designer-text-right,
#section-4 .designer-picture-right,
#section-4 .img-stripe-right {
    height: 18.88vw; /* 272px; */
}

/************** Section-5 *****************/
#section-5 .designer-picture-left,
#section-5 .img-stripe-left {
    height: 24.3vw; /* 350px; */
}

/* ***************Section-6 ***************/
#section-6 .about-designer-text-right,
#section-6 .designer-picture-right,
#section-6 .img-stripe-right {
    height: 29.5vw; /* 425px; */
}

#section-6 {
    margin-bottom: 6.25vw; /* 90px; */
 }



main .divider-line{
    border: none;
    background-color: #E7EAF7;
    height: 0.27vw; /* 4 px */
    margin-left: 16.30%; /* 235 пикс */
    margin-top: 3.5vw; /* 50 */
    margin-bottom: 2.1vw; /* 30px; */
}
